.first,
.second {
  background-color: white;
  margin: 10px;
  box-shadow: 3px 3px 2px grey;
  display: block;
  width: 20%;
  height: auto;
}
.sidebar {
  height: 20vh;
}
ul {
  list-style-type: none;
  flex-wrap: wrap;
}
a {
  border: 1px solid orange;
  padding: 4px;
  color: orange;
  font-size: 15px;
  height: 32px;
  margin: 6px;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Sports-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Mcard {
  position: relative;
  max-height: 400px;
  min-width: 100px;
  max-width: 220px;
  margin: 21px 16px;
  border: 2px solid grey;
  border-radius: 9px;
}
.Mcard:hover {
  box-shadow: 3px 3px 2px orange;
}
.Mcard img {
  height: 75%;
  width: 100%;
  border-radius: 9px 9px 0px 0px;
}
