:root {
  --marigold: hsl(39, 96%, 48%);
  --ff-poppins: "Poppins", sans-serif;
}
#register {
  font-size: 25px;
}
label {
  font-weight: bold;
}
.input-box {
  border: 0;
  box-shadow: none;
}
.input-box:focus {
  box-shadow: none;
}
.register_button {
  border: 2px solid var(--marigold);
  background-color: var(--marigold);
  color: white;
  font-size: 13px;
  margin-left: 43%;
  margin-top: 6px;
  font-family: var(--ff-poppins);
}
.main-card {
  height: 750px;
  margin-top: 2px;
}
