/* typography */
:root {
  --marigold: hsl(39, 96%, 48%);
  --ff-poppins: "Poppins", sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: 0.2fr 6fr 1.5fr;
  grid-template-areas:
    "h h h h"
    /* 'n n n n' */
    "as s s s"
    /* 'as ar ar ar' */
    "f f f f";
}

.header {
  background-color: lightblue;
  grid-area: h;

  display: flex;
  justify-content: center;
  align-items: center;
}
.aside {
  background-color: white;
  grid-area: as;
}
.filter {
  margin: 8px;
  font-style: var(--ff-poppins);
  color: var(--marigold);
}
.filter_card {
  border: 1px solid white;
}

.card {
  margin-top: 16px;
}

span {
  text-align: left;
  color: var(--marigold);
  font-weight: 400;
  font-size: 12px;
  margin-left: 25px;
}
.div {
  border: 1px solid var(--marigold);
  margin-top: 35px;
  border-radius: 5px;
}
.section {
  background-color: white;
  grid-area: s;
}
.checkbox {
  margin-left: 15px;
  color: var(--marigold);
}
.c1 {
  grid-area: first;
}
.c2 {
  grid-area: second;
}
.c3 {
  grid-area: third;
}
.c4 {
  grid-area: fourth;
}
.card-body {
  max-height: 400px;
  min-width: 100px;
  max-width: 220px;
  margin: 21px 16px;
  border: 2px solid lightgrey;
  border-radius: 9px;
}
.card-body:hover {
  box-shadow: 3px 3px 2px var(--marigold);
}
.card-body img {
  height: 75%;
  width: 100%;

  border-radius: 9px 9px 0px 0px;
}
a {
  color: var(--marigold);
  margin-left: 10px;
}
.card-title {
  text-align: left;
  color: var(--marigold);
  font-weight: 400;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 5px;
}
@media only screen and (max-width: 375px) {
  .main-container {
    grid-template-rows: 0.2fr 6fr 1.5fr;
    grid-template-areas:
      "h h h h"
      /* 'n n n n' */
      "s s s s"
      /* 'ar ar ar ar ' */
      "as as as as";
    /* 'f f f f'; */
  }
}
